<%- include('./layout/head'); %>

  <script>


    function displayNone(){
      document.getElementById("dashboard").style.display = "none"
      document.getElementById("routers").style.display = "none"
      document.getElementById("limitation").style.display = "none"
    }


    window.addEventListener("hashchange", () => {
      console.log("Hash changed to:", location.hash.substring(1));
      switch (location.hash.substring(1)) {
        case "dashboard":
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;

        case "routers":
          navUpdate("روترها")
          sliderUpdate("routers")
          displayNone()
          document.getElementById("routers").style.display = "block"
          break;

        case "limitation":
          navUpdate("محدودیت ها")
          sliderUpdate("limitation")
          displayNone()
          document.getElementById("limitation").style.display = "block"
          break;
      
        default:
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;
      }
    });
  </script>

  <div id="dashboard" >
    <%- include('./dashboard'); %>
  </div>
  <div id="routers" style="display: none;">
    <%- include('./routers'); %>
  </div>
  <div id="limitation" style="display: none;">
    <%- include('./limitation'); %>
  </div>
  





<%- include('./layout/footer'); %>
