<%- include('./layout/head'); %>

<script>


    function displayNone(){
      document.getElementById("dashboard").style.display = "none"
      document.getElementById("routers").style.display = "none"
      document.getElementById("limitation").style.display = "none"
      document.getElementById("profile").style.display = "none"
      document.getElementById("client").style.display = "none"
      document.getElementById("block-client").style.display = "none"
      document.getElementById("active").style.display = "none"
      document.getElementById("session").style.display = "none"
      document.getElementById("mousted").style.display = "none"
      document.getElementById("danger").style.display = "none"
      document.getElementById("blackList").style.display = "none"
    }


    window.addEventListener("hashchange", () => {
      console.log("Hash changed to:", location.hash.substring(1));
      switch (location.hash.substring(1)) {
        case "dashboard":
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;

        case "routers":
          navUpdate("روترها")
          sliderUpdate("routers")
          displayNone()
          document.getElementById("routers").style.display = "block"
          break;

        case "limitation":
          navUpdate("محدودیت ها")
          sliderUpdate("limitation")
          displayNone()
          document.getElementById("limitation").style.display = "block"
          break;
          
          case "profile":
            navUpdate("پروفایل ها")
            sliderUpdate("profile")
            displayNone()
            document.getElementById("profile").style.display = "block"
            break;
            
          case "client":
            navUpdate("کاربران")
            sliderUpdate("client")
            displayNone()
            document.getElementById("client").style.display = "block"
            break;
              
          case "block-client":
            navUpdate("کاربران مسدود شده")
            sliderUpdate("block-client")
            displayNone()
            document.getElementById("block-client").style.display = "block"
            break;
            
          case "active":
            navUpdate("کاربران فعال")
            sliderUpdate("active")
            displayNone()
            document.getElementById("active").style.display = "block"
            break;
            case "session":
              navUpdate("بلک لیست")
              sliderUpdate("session")
              displayNone()
              document.getElementById("session").style.display = "block"
              break;
            case "mousted":
              navUpdate("کاربران پر مصرف")
              sliderUpdate("mousted")
              displayNone()
              document.getElementById("mousted").style.display = "block"
              break;
            case "danger":
              navUpdate("کاربران مشکوک")
              sliderUpdate("danger")
              displayNone()
              document.getElementById("danger").style.display = "block"
              break;
            case "blackList":
              navUpdate("بلک لیست")
              sliderUpdate("blackList")
              displayNone()
              document.getElementById("blackList").style.display = "block"
              break;
            
              default:
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;
      }
    });
  </script>

<div id="dashboard">
  <%- include('./dashboard'); %>
</div>
<div id="routers" style="display: none;">
  <%- include('./routers'); %>
</div>
<div id="limitation" style="display: none;">
  <%- include('./limitation'); %>
</div>
<div id="profile" style="display: none;">
  <%- include('./profile'); %>
</div>

<div id="block-client" style="display: none;">
  <%- include('./blockclient'); %>
</div>

<div id="active" style="display: none;">
  <%- include('./active'); %>
</div>

<div id="session" style="display: none;">
  <%- include('./session'); %>
</div>

<div id="mousted" style="display: none;">
  <%- include('./mousted'); %>
</div>

<div id="danger" style="display: none;">
  <%- include('./danger'); %>
</div>
<div id="blackList" style="display: none;">
  <%- include('./blackList'); %>
</div>

<div id="client" style="display: none;">
  <%- include('./client'); %>
</div>



<%- include('./layout/footer'); %>
