<%- include('./layout/head'); %>
<div id="loading" style="display: none;">
        <div class="spinner"></div>
</div>

 <style>
        /* استایل مودال */
        #loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        /* استایل انیمیشن چرخشی */
        .spinner {
            width: 80px;
            height: 80px;
            border: 8px solid rgba(255, 255, 255, 0.3);
            border-top: 8px solid #ffffff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        /* تعریف انیمیشن */
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
</style>


<script>


    function displayNone(){
      document.getElementById("dashboard").style.display = "none"
      document.getElementById("routers").style.display = "none"
      document.getElementById("limitation").style.display = "none"
      document.getElementById("profile").style.display = "none"
      document.getElementById("client").style.display = "none"
      document.getElementById("block-client").style.display = "none"
      document.getElementById("active").style.display = "none"
      document.getElementById("session").style.display = "none"
      document.getElementById("mousted").style.display = "none"
      document.getElementById("danger").style.display = "none"
      document.getElementById("blackList").style.display = "none"
      document.getElementById("loger").style.display = "none"
      document.getElementById("req").style.display = "none"
    }


    window.addEventListener("hashchange", () => {
      console.log("Hash changed to:", location.hash.substring(1));
      switch (location.hash.substring(1)) {
        case "dashboard":
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;

        case "routers":
          navUpdate("روترها")
          sliderUpdate("routers")
          displayNone()
          document.getElementById("routers").style.display = "block"
          break;

        case "limitation":
          navUpdate("محدودیت ها")
          sliderUpdate("limitation")
          displayNone()
          document.getElementById("limitation").style.display = "block"
          break;
          
          case "profile":
            navUpdate("پروفایل ها")
            sliderUpdate("profile")
            displayNone()
            document.getElementById("profile").style.display = "block"
            break;
            
          case "client":
            navUpdate("کاربران")
            sliderUpdate("client")
            displayNone()
            document.getElementById("client").style.display = "block"
            break;
              
          case "block-client":
            navUpdate("کاربران مسدود شده")
            sliderUpdate("block-client")
            displayNone()
            document.getElementById("block-client").style.display = "block"
            break;
            
          case "active":
            navUpdate("کاربران فعال")
            sliderUpdate("active")
            displayNone()
            document.getElementById("active").style.display = "block"
            break;
            case "session":
              navUpdate("بلک لیست")
              sliderUpdate("session")
              displayNone()
              document.getElementById("session").style.display = "block"
              break;
            case "mousted":
              navUpdate("کاربران پر مصرف")
              sliderUpdate("mousted")
              displayNone()
              document.getElementById("mousted").style.display = "block"
              break;
            case "danger":
              navUpdate("کاربران مشکوک")
              sliderUpdate("danger")
              displayNone()
              document.getElementById("danger").style.display = "block"
              break;
            case "blackList":
              navUpdate("بلک لیست")
              sliderUpdate("blackList")
              displayNone()
              document.getElementById("blackList").style.display = "block"
              break;
            case "loger":
              navUpdate("ثبت امار ورود و خروج ها")
              sliderUpdate("loger")
              displayNone()
              document.getElementById("loger").style.display = "block"
              break;
            case "req":
              navUpdate("درخواست کاربران")
              sliderUpdate("req")
              displayNone()
              document.getElementById("req").style.display = "block"
              break;
            
              default:
          navUpdate("داشبورد")
          sliderUpdate("dashboard")
          displayNone()
          document.getElementById("dashboard").style.display = "block"
          break;
      }
    });
  </script>




<div id="dashboard">
  <%- include('./dashboard'); %>
</div>
<div id="routers" style="display: none;">
  <%- include('./routers'); %>
</div>
<div id="limitation" style="display: none;">
  <%- include('./limitation'); %>
</div>
<div id="profile" style="display: none;">
  <%- include('./profile'); %>
</div>

<div id="block-client" style="display: none;">
  <%- include('./blockclient'); %>
</div>

<div id="active" style="display: none;">
  <%- include('./active'); %>
</div>

<div id="session" style="display: none;">
  <%- include('./session'); %>
</div>

<div id="mousted" style="display: none;">
  <%- include('./mousted'); %>
</div>

<div id="danger" style="display: none;">
  <%- include('./danger'); %>
</div>
<div id="blackList" style="display: none;">
  <%- include('./blackList'); %>
</div>
<div id="loger" style="display: none;">
  <%- include('./loger'); %>
</div>
<div id="req" style="display: none;">
  <%- include('./req'); %>
</div>

<div id="client" style="display: none;">
  <%- include('./client'); %>
</div>



<script>
  // document.getElementById("loading").style.display = "none";
 

  async function updateDataInformation(){
      document.getElementById("loading").style.display = "flex";


     await createTable("جدول پروفایل ها" , "active-client" , "table-active")    
     await createTable("جدول پروفایل ها" , "block-mac" , "table-blocked")    
     await createTable("جدول پروفایل ها" , "block-client" , "table-block-client")
     await createTable("جدول پروفایل ها" , "client" , "table-client")
     await createTable("جدول پروفایل ها" , "block-client" , "table-block-client")    
     await createTable("جدول پروفایل ها" , "admin-log" , "table-admin")
     await createTable("جدول پروفایل ها" , "profile" , "table-profile")
     await createTable("جدول محدودیت ها" , "limitation" , "table-limitation")
     await createTable("جدول پروفایل ها" , "req" , "table-req")    
     await createTable("جدول روترها" , "routers" , "table-routers")
     await createTable("جدول پروفایل ها" , "active" , "table-session")    
      
     await smsPrice()
     await createConnectionRuter()
     await createInputLimitationForm()
     await createInputProfileForm()
     await createInputClientForm()
     await createBlockClient()
    document.getElementById("loading").style.display = "none";

  }


  setTimeout(() => {
    console.log("update data");
            createTable("جدول پروفایل ها" , "active-client" , "table-active")    
            createTable("جدول پروفایل ها" , "block-mac" , "table-blocked")    
            createTable("جدول پروفایل ها" , "block-client" , "table-block-client")
            createTable("جدول پروفایل ها" , "client" , "table-client")
            createTable("جدول پروفایل ها" , "block-client" , "table-block-client")    
            createTable("جدول پروفایل ها" , "admin-log" , "table-admin")
            createTable("جدول پروفایل ها" , "profile" , "table-profile")
            createTable("جدول محدودیت ها" , "limitation" , "table-limitation")
            createTable("جدول پروفایل ها" , "req" , "table-req")    
            createTable("جدول روترها" , "routers" , "table-routers")
            createTable("جدول پروفایل ها" , "active" , "table-session")    
            
            smsPrice()
            createConnectionRuter()
            createInputLimitationForm()
            createInputProfileForm()
            createInputClientForm()
            createBlockClient()
  }, 60 * 10 * 1000);

</script>
<%- include('./layout/footer'); %>
